label {
  height: 120 px;
  display: block;
  background-color:#f4f1ec ;
}
textarea {
  border:none;
  background-color:#f4f1ec;
  width: 100%;
  border-bottom :5px solid black
}

.new-tweet div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  word-wrap: normal;

}

button {
  display: flex;
  align-items: flex-end;
  font-family: 'Bungee';
  color: #f4f1ec;
  background-color:#800008
}

output {
  display: block;
  align-items: flex-end;
  font-family: 'Bungee';
  color:#545149;
}

.tweet-text {
  word-wrap: normal;
}

.redAlert {
  display:none;
  color: red;
  font-weight: bolder;
  border: 5px solid red;
  padding : 15px;
  align-items: center;

}


.blueAlert {
  display:none;
  color: blue;
  font-weight: bolder;
  border: 5px solid blue;
  padding : 15px;
  align-items : flex-start

}